<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <!-- My styles -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

    <!-- Header -->
    <header>
        <div class="container">
            <h1>MY TEAM</h1>
        </div>
    </header>

    <!-- Team section -->
    <section>
        <div class="container employees">
            <div class="employee-card">
                <div class="card-header">
                    <div class="card-image">
                        <img src="https://via.placeholder.com/60" alt="Avatar">
                    </div>
                    <div class="card-title">
                        <div class="card-name">Samantha</div>
                        <div class="card-role">Manager</div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="card-info">
                        <li class="card-info-item">
                            <div class="card-item-label">ID</div>
                            <div class="card-item">001</div>
                        </li>
                        <li class="card-info-item">
                            <div class="card-item-label">EMAIL</div>
                            <div class="card-item"><a href="mailto:{{ email }}">samantha@manager.com</a></div>
                        </li>
                        <li class="card-info-item">
                            <div class="card-item-label">OFFICE #</div>
                            <div class="card-item">100</div>
                        </li>
                    </ul>
                </div>
            </div>
            {{ team }}
        </div>
    </section>

</body>

</html>
